.navbar-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:15px;
}

.mindfed-logo{
    height:80px;
    object-fit:contain;
}

.navbar-search-container{
    flex:1;
}

.navbar-search{
    height:50px;
    border-radius:15px;
}

.menu-btn{
    width:55px;
    height:55px;
    border-radius:12px;
    font-size:24px;
}

@media (max-width:768px){

    .mindfed-logo{
        height:60px;
    }

    .navbar-search{
        height:45px;
        font-size:14px;
    }

    .menu-btn{
        width:45px;
        height:45px;
        font-size:20px;
    }

}